@{
    ViewData["Title"] = "Lengths Conversions";
}
<h2>@ViewData["Title"]</h2>


<p>Here's the calculation @ViewData["mToF"]</p>
<p>Here's the calculation @ViewData["fToM"]</p>
<p>Here's the calculation @ViewData["mtoY"]</p>
<p>Here's the calculation @ViewData["ytoM"]</p>
<p>Here's the calculation @ViewData["ftoY"]</p>
<p>Here's the calculation @ViewData["ytoF"]</p>